<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv+"X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model Deployment</title>
</head>
<body>
    <h1 class = "text-center">WebMatte</h1>
    <p class = "text-center\">
        WebMatte is a free to use web service to perform image matting! To begin, upload an image of your background scene that you would like to remove with matting.
        This means an image of the scene without the subject in
    </p>
    
    <form class = "p-3 text center" action='uploader', method = "POST" enctype="multipart/form-data">
        <input class = "form-control" type="file" name="imagefile1">
        <input class = "form-control" type="file" name="imagefile2">
        <input type = "submit" value = "Matte image"/>
    </form>


</body>
</html>
