<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv+"X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model Deployment</title>
</head>
<body>
    <h1 class = "text-center">WebMatte</h1>
    <p class = "text-center\">
        Here you can upload your two inputs. The first being the background and the second being the source with the subject
        in the image.
    </p>
    
    <form action='#' method = "POST">
        <label for="uname">Username:</label><br>
        <input type="text" name="nm" ><br><br>
        <input type="submit" value="Submit">
    </form> 


</body>
</html>
