<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv+"X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model Deployment</title>
</head>
<body>
    <h1 class = "text-center">WebMatte</h1>
    <p class = "text-center\">
        files uploaded!
    </p>
    
    <form class = "p-3 text center" action='view_com', method = "POST" enctype="multipart/form-data">
        <input type = "submit" value = "View Matte"/>
    </form>


</body>
</html>
